
:root {
    --vermelho: #E50914;
    --preta: #141414;

} /* definindo variável no css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: var(--preta);
font-family:'Arial', Times, serif;
color: white;
}

header .container{
    display:flex; 
    align-items: center;
    justify-content: space-between;
}
header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 45px;
    margin-left: 20px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    padding-right: 25px;

}

header nav a:hover{
color: #fff;
} /* usa-se hover para definir o estilo da palavra ou link ao passar o mouse sobre o elemento dentro de a*/


/*filme principal*/
.filme-principal{
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/garfield.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.filme-principal .descricao {
margin-bottom: 40px;
margin-top: 15px;
}

.titulo{
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px; /*padding lida com valores internos do objeto, se não informar o valor dos quatro lados ele aplica o mesmo para todos*/
margin-right: 15px;
font-size: 15px;

   cursor: pointer;
   transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.filme-principal .container{
    width: 50%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}


.carrosel-filmes{
    margin-top: 5px;
}